fastapi
uvicorn
psycopg2-binary
langchain
langchain-openai
chromadb
python-dotenv
tiktoken
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
sentence-transformers
langchain-chroma
langgraph
rank-bm25
grandalf
python-multipart
pypdf